.top-nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: sticky;
}

.home-button {
    margin-left: 100%;
    padding-left: 0px;
    height: max-content;
    height: inherit;
}

.search-bar {
    position: relative;
    width: 80vw;
    max-width: 600px;
}

.search-bar img {
    width: 50px;
    height: 40px;
}

.search-bar img:hover {
    cursor: pointer
}

.main-nav-search {
    margin-top: -5px;
    padding-right: 5px;
    width: 100%;
    border-radius: 100px;
    /* max-height: max-content; */
    /* align-self: center; */
    background-color: rgb(18,18,18);
    /* border: 1px rgb(40, 40, 40) solid; */
    color: darkgray;
    padding-left: 20px;
    font-size: 25px;
    border: 1px solid grey;
}

.search-companion-nav {
    margin-top: -3px;
    font-size: 20px;
    position: absolute;
    right: 1px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px;
    height: inherit;
    overflow-wrap: normal;
    background-color: rgb(40, 40, 40);
    color: darkgray;
}

.right-nav {
    display: -webkit-inline-box;
    /* justify-content: space-around; */
    margin-right: 6vw;
    /* padding-left: 0px; */
}

.right-nav input[type="button"] {
    display: inherit;
    margin-right: 18px;
    padding: 10px;
}

.settings-container {

}

.settings-button {

}

.settings-container {
    /* align-items: end; */
    padding: 10px;
    /* font-size: 10px; */
    width: fit-content;
}

.settings-container {
    /* align-items: end; */
    padding: 8px;
    /* font-size: 10px; */
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 12px;
    padding-right: 20px;
    cursor: pointer;
}



.main-nav-search:focus {
    border: .5px solid rgba(27, 98, 185, 1);
    outline: .5px solid rgba(27, 98, 185, 1) /* Changes the outline to a 2px solid red line */
}

img.settings-button {
    width: 12px;
}
/* .sandwich-nav{
    position: fixed;
    border: 2px yellow solid;
    width: 25px;
    height: 40px
} */



.home-sign-in {
    border: 1px rgba(74, 74,74, 1) solid;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 20px;
    width: 100px;
    color: rgba(63, 166, 255, 1);
    justify-content: space-around;
    padding: 5px;
    flex-flow: row-reverse;
}

.home-sign-in:hover {
    background-color: rgba(74, 74, 74, 1);
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
    .top-nav-bar {
      flex-direction: column;
      justify-content:space-between;
      align-items: center;
    }

    .search-companion-nav {
      margin-right: 40px;
      margin-top: 0px;

    }


    .main-nav-search {
        width: 90%;
      margin: 10px 0;
    }

    div.right-nav {
      position:fixed;
      bottom: 25px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    div.right-nav > input {
      margin: 10px 0; /* Add some vertical margin */
    }

    .home-button {
        margin: 0;
    }


}
